:root {
	--margin-extra-small: 10px;
	--margin-small: 15px;
	--margin-medium: 20px;
	--margin-large: 30px;

	--border-radius: 2px;
}

*, *:before, *:after {
	box-sizing: border-box;
}

html, body {
	background-color: #141414;
	color: #9B9B9B;
}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	font-family: "Motiva Sans", Sans-serif;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
	color: #FFFFFF;
}

a {
	color: #9B9B9B;
}

a:hover {
	color: #FFFFFF;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	margin: var(--margin-small) 0;
	padding: var(--margin-extra-small);
	background-color: rgba( 84, 133, 183, 0.2);
}

img {
	border: 1px solid #898989;
	vertical-align: text-bottom;
}

header,
main {
	padding: var(--margin-large);
}

header {
	padding-bottom: 0;
}

main {
	padding-top: 0;
}

.form {
	padding: var(--margin-medium) 0;
}

button,
.btn {
	border-radius: var(--border-radius);
	border: none;
	padding: 1px;
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	color: #FFFFFF;
	background: #ACB5BD;
	background: linear-gradient(to bottom, #ACB5BD 5%, #414A52 95%);
	padding: 0 var(--margin-small);
	font-size: 1em;
	line-height: 30px;
}

button:hover,
.btn:hover {
	background: linear-gradient(to bottom, #CFD8E0 5%, #565F67 95%);
}

button.primary,
.btn.primary {
    background: linear-gradient(to bottom, #A4D007 5%, #536904 95%);
}

button.primary:hover,
.btn.primary:hover {
	background: linear-gradient(to bottom, #B6D908 5%, #80A006 95%);
}

button.secondary,
.btn.secondary {
	background: linear-gradient(to bottom, rgba(47,137,188,1) 5%, rgba(23,67,92,1) 95%);
}

button.secondary:hover,
.btn.secondary:hover {
	background: linear-gradient(to bottom, rgba(102,192,244,1) 5%, rgba(47,137,188,1) 95%);
}

input {
	border: 1px solid #898989;
	border-radius: var(--border-radius);
	line-height: 25px;
}

li button {
	margin: 0 var(--margin-extra-small);
	vertical-align: bottom;
}
