<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Steam Player Bans</title>
	<link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
	<header>
		<h1>Steam Player Bans</h1>
	</header>
	<main>
		<form id="form-add" class="form" action="" autocomplete="off">
			<div class="form-row">
				<div class="form-inp-row">
					<input class="inp" type="text" name="url" placeholder="Players profile URL">
					<div class="overlay"></div>
					<div class="lds-ring"><div></div><div></div><div></div><div></div></div>
				</div>
				<button class="btn primary">Add Player</button>
			</div>
		</form>
		<form id="form-search" class="form" action="" autocomplete="off" hidden>
			<div class="form-row">
				<div class="form-inp-row">
				<input class="inp" type="text" name="search" placeholder="Player name">
					<div class="overlay"></div>
					<div class="lds-ring"><div></div><div></div><div></div><div></div></div>
				</div>
				<button class="btn primary">Search Player</button>
			</div>
		</form>
		<ul id="notifications" class="notifications"></ul>
		<ul id="user-list" class="user-list"></ul>
		<p>Total: <span id="total">?</span></p>
	</main>

	<template id="user-list-item">
		<li>
			<div class="user-list-item" data-steam-id="{{ steamid }}">
				<div class="user-list-details">
					<a href="{{ profileurl }}" target="_blank" rel="noopener noreferrer"><img class="avatar" src="{{ avatarmedium }}" alt="{{ personaname }}" /></a>
					<a href="{{ profileurl }}" target="_blank" rel="noopener noreferrer">{{ personaname }}</a>

					<div class="user-list-bans">
						{% if NumberOfVACBans %}
							<p>Vac: {{ NumberOfVACBans }} - {{ DaysSinceLastBan }} days ago</p>
						{% endif %}
						{% if NumberOfGameBans %}
							<p>Game: {{ NumberOfGameBans }} - {{ DaysSinceLastBan }} days ago</p>
						{% endif %}
					</div>
				</div>
				<div class="user-list-footer">
					<time datetime="{{ added }}">{{ addedDate }}</time>
					<div class="user-list-actions">
						<button data-btn-update class="btn secondary" type="button">Update bans</button>
						<button data-btn-remove class="btn" type="button">Remove</button>
					</div>
				</div>
				<div class="overlay"></div>
				<div class="lds-ring"><div></div><div></div><div></div><div></div></div>
			</div>
		</li>
	</template>

	<script src="./static/js/index.js" type="module"></script>
</body>
</html>
